In [1]:
import os
import sys

# Data types

## Numeric

In [2]:
days = 7        # int integer
distance = 30.0    # Float

print('number of days: {}'.format(days))
print('distance to next Jeff city {}'.format(distance))

number of days: 7
distance to next Jeff city 30.0

## string

In [3]:
city = 'Columbia'
city

'Columbia'

## Sequence

### lists

In [4]:
list1 = [1,2,3]
list2 = ['Columbia', 'Jeff city', 'Missouri']
list3 = ['Columbia', 1,'Jeff city',2.5, 'Missouri',3]

print('list1: {}'.format(list1))

print('list2: {}'.format(list2))

print('list3: {}'.format(list3))
print('')
print('list3 element 3: {}'.format(list3[3]))

list3[3] = 4
print('')

print('list3 element 3 after update: {}'.format(list3[3]))
print('list3 after update: {}'.format(list3))

list1: [1, 2, 3]
list2: ['Columbia', 'Jeff city', 'Missouri']
list3: ['Columbia', 1, 'Jeff city', 2.5, 'Missouri', 3]

list3 element 3: 2.5

list3 element 3 after update: 4
list3 after update: ['Columbia', 1, 'Jeff city', 4, 'Missouri', 3]

### Tuples

In [5]:
tuple1 = (1,2,3)
tuple2 = ('Columbia', 'Jeff city', 'Missouri')
tuple3 = ('Columbia', 1,'Jeff city',2.5, 'Missouri',3)

print('tuple1: {}'.format(tuple1))

print('tuple2: {}'.format(tuple2))

print('tuple3: {}'.format(tuple3))
print('')
print('tuple3 element 3: {}'.format(tuple3[3]))

tuple1: (1, 2, 3)
tuple2: ('Columbia', 'Jeff city', 'Missouri')
tuple3: ('Columbia', 1, 'Jeff city', 2.5, 'Missouri', 3)

tuple3 element 3: 2.5

In [6]:
tuple1[3] = 4

print('list3 element 3 after update: {}'.format(list3[3]))
print('list3 after update: {}'.format(list3))

TypeError: 'tuple' object does not support item assignment

## Dictionary

In [7]:
dict1 = {'Name':'John Doe','Age':32, 'Height':5.2}

print(dict1)

print('')

keys_list = dict1.keys()
print('list of keys: {}'.format(keys_list))

print('')

values_list = dict1.values()
print('list of values: {}'.format(values_list))

{'Name': 'John Doe', 'Age': 32, 'Height': 5.2}

list of keys: dict_keys(['Name', 'Age', 'Height'])

list of values: dict_values(['John Doe', 32, 5.2])

In [8]:
name   = dict1['Name']
age    = dict1['Age']
height = dict1['Height']

print('the name is  : {}'.format(name))
print('the age is   : {} years old'.format(age))
print('the height is: {} feet'.format(height))

the name is  : John Doe
the age is   : 32 years old
the height is: 5.2 feet

### Updating dictionary

In [9]:
dict1['Age'] = 45

name   = dict1['Name']
age    = dict1['Age']
height = dict1['Height']

print('the name is  : {}'.format(name))
print('the age is   : {} years old'.format(age))
print('the height is: {} feet'.format(height))

the name is  : John Doe
the age is   : 45 years old
the height is: 5.2 feet

### Deleting elements

In [10]:
keys_list = dict1.keys()
print('list of keys: {}'.format(keys_list))
values_list = dict1.values()
print('list of values: {}'.format(values_list))

del dict1['Height']

print('')

keys_list = dict1.keys()
print('list of keys: {}'.format(keys_list))
values_list = dict1.values()
print('list of values: {}'.format(values_list))

list of keys: dict_keys(['Name', 'Age', 'Height'])
list of values: dict_values(['John Doe', 45, 5.2])

list of keys: dict_keys(['Name', 'Age'])
list of values: dict_values(['John Doe', 45])

## Boolean

Boolean deals with "True" and "False" situations

In [14]:
a = 2
b = 4

test1 = bool(a==b)
test2 = bool(a>b)
test3 = bool(a<b)

print('a equals b       : {}'.format(test1))
print('a greater than b : {}'.format(test2))
print('a less than b    : {}'.format(test3))

a equals b       : False
a greater than b : False
a less than b    : True

# Operators

## Arithmetic

In [17]:
x = 3
y = 7

print(' x = {} '.format(x))
print(' y = {} '.format(y))
addition = x + y
print('addition      : {} + {} = {}'.format(x,y,addition))

subtraction = x - y  
print('subtraction   : {} - {} = {}'.format(x,y,subtraction))

multiplication = x * y
print('multiplication: {} * {} = {}'.format(x,y,multiplication))

division = x/y
print('division      : {} / {} = {}'.format(x,y,division))

modulus = y%x

print('modulus       : {} % {} = {}'.format(y,x,modulus))

exponent = y**x
print('exponent      : {} to the power of {} = {}'.format(y,x,exponent))


floor_division = y//x
print('floor division: {} // {} = {}'.format(y,x,floor_division))

 x = 3
 y = 7
addition      : 3 + 7 = 10
subtraction   : 3 - 7 = -4
multiplication: 3 * 7 = 21
division      : 3 / 7 = 0.42857142857142855
modulus       : 7 % 3 = 1
exponent      : 7 to the power of 3 = 343
floor division: 7 // 3 = 2

## Comparison

In [24]:
x = 3
y = 7

print(' x = {} '.format(x))
print(' y = {} '.format(y))

print('x        equals        y: {}'.format(x==y))
print('x      not equal       y: {} '.format(x!=y))
print('x    greater than      y: {} '.format(x>y))
print('x greater or eqaul to  y: {} '.format(x>=y))
print('x     less than        y: {} '.format(x<y))
print('x ;ess than or equal   y: {} '.format(x<=y))

 x = 3
 y = 7
x        equals        y: False
x      not equal       y: True
x    greater than      y: False
x greater or eqaul to  y: False
x     less than        y: True
x ;ess than or equal   y: True

# Decision Making

## if statement

In [27]:
balance = 120 # dollars
requested_amount = 150 # dollars

if requested_amount > balance:
    print('The amount requested is not available')

The amount requested is not available

In [28]:
balance = 120 # dollars
requested_amount = 100 # dollars

if requested_amount > balance:
    print('The amount requested is not available')
else:
    print('The amount requested is available')

The amount requested is available

In [29]:
balance = 120 # dollars
requested_amount = 120 # dollars

if requested_amount > balance:
    print('The amount requested is not available')
elif requested_amount == balance:
    print('The amount requested will empty the account')
else:
    print('The amount requested is available')

The amount requested will empty the account

# Loops

## types of loops

### While loop

In [33]:
count = 10
while (count > 0):
   print('The count is: {}'.format(count))
   count = count - 1

print('DONE!')

The count is: 10
The count is: 9
The count is: 8
The count is: 7
The count is: 6
The count is: 5
The count is: 4
The count is: 3
The count is: 2
The count is: 1
DONE!

### for loop

In [34]:
list1 = ['Columbia','Jeff city','St Louis','Kansas city']

for idx in list(range(len(list1))):
    city_name = list1[idx]
    
    print('element {} is {}'.format(idx,city_name))

element 0 is Columbia
element 1 is Jeff city
element 2 is St Louis
element 3 is Kansas city

In [35]:
for city_name in list1:
    print('{}'.format(city_name))

Columbia
Jeff city
St Louis
Kansas city

## Loop control statements

### break

In [42]:
list2 = list(range(20))

print(list2)

for element in list2:
    print(element)
    if element > 15:
        break

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16

### continue

In [46]:
list2 = list(range(20))

print(list2)

for element in list2:
    if element % 2 == 0:
        print(element)
    else:
        continue

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
0
2
4
6
8
10
12
14
16
18

# Functions

In [1]:
def myFunction(a, b):
    print(f"a = {a}")
    print(f"b = {b}")

In [3]:
myFunction(10,5)

a = 10
b = 5